body {
    background: #2A7B9B;
    background: radial-gradient(circle,rgba(42, 123, 155, 1) 0%, rgb(23, 53, 36) 87%, rgb(56, 52, 20) 100%);
}

h1, h2 {
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 6em;
    margin: 0px;
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
}

img {
    margin-top: 1em;
    max-width: 10em;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}